SignalK_shelly_temp.json
[{"id":"3357184f.a3272","type":"tab","label":"PROD Temp. measure + exh alarm","disabled":false,"info":""},{"id":"2f19fa3b.b5a9de","type":"signalk-subscribe","z":"3357184f.a3272","name":"port.exhaustTemperature         ","flatten":true,"context":"vessels.self","path":"propulsion.port.exhaustTemperature","source":"signalk-node-red","period":1000,"x":130,"y":386,"wires":[["f281dee2.bd702"]]},{"id":"446d828e.c8b234","type":"signalk-subscribe","z":"3357184f.a3272","name":"starboard.exhaustTemperature","flatten":true,"context":"vessels.self","path":"propulsion.starboard.exhaustTemperature","source":"signalk-node-red","period":1000,"x":150,"y":466,"wires":[["87c98a23.cf8ac8"]]},{"id":"f281dee2.bd702","type":"switch","z":"3357184f.a3272","name":"If over 50 C => 323 Kelvin","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"323","vt":"str"},{"t":"lte","v":"323","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":386,"wires":[["3b81721e.d181ee"],["baeb1bb1.74d418"]]},{"id":"3b81721e.d181ee","type":"signalk-send-notification","z":"3357184f.a3272","name":"send alarm","path":"ptExhaustTemp","state":"alarm","message":"The PORT exhaust temp is exceeded !!","visual":true,"sound":true,"x":590,"y":366,"wires":[]},{"id":"baeb1bb1.74d418","type":"signalk-send-notification","z":"3357184f.a3272","name":"clear alarm","path":"ptExhaustTemp","state":"normal","message":"The PORT exhaust temeperature is normal.","visual":true,"sound":true,"x":590,"y":426,"wires":[]},{"id":"87c98a23.cf8ac8","type":"switch","z":"3357184f.a3272","name":"If over 50 C => 323 Kelvin","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"323","vt":"str"},{"t":"lte","v":"323","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":526,"wires":[["eadef5f9.e36578"],["78eec38c.d8c3fc"]]},{"id":"eadef5f9.e36578","type":"signalk-send-notification","z":"3357184f.a3272","name":"send alarm","path":"sbExhaustTemp","state":"alarm","message":"The STARBOARD exhaust temp is exceeded !!","visual":true,"sound":true,"x":590,"y":486,"wires":[]},{"id":"78eec38c.d8c3fc","type":"signalk-send-notification","z":"3357184f.a3272","name":"clear alarm","path":"sbExhaustTemp","state":"normal","message":"The STARBOARD exhaust temeperature is normal.","visual":true,"sound":true,"x":590,"y":546,"wires":[]},{"id":"437a850b.a5e32c","type":"signalk-send-pathvalue","z":"3357184f.a3272","name":"","source":"","x":610,"y":140,"wires":[]},{"id":"50006928.6a0168","type":"function","z":"3357184f.a3272","name":"Get temp => global.set(x) => value","func":"// Temp0 => water, temp 1 => Exthaust SB, temp 2 => Exhaust Port\n\nconst kelvinOffset = 273.15;\n\n// temp fields are set to 0 Celsius. Default when error\nvar temp0 = kelvinOffset\nvar temp1 = kelvinOffset\nvar temp2 = kelvinOffset\n\nif (typeof(msg.payload) == \"object\"){\n\n    if (msg.statusCode == 200)  {\n\n        temp0 = kelvinOffset + msg.payload.ext_temperature[\"0\"].tC;\n        temp1 = kelvinOffset + msg.payload.ext_temperature[\"1\"].tC;\n        temp2 = kelvinOffset + msg.payload.ext_temperature[\"2\"].tC;\n    }\n}\n\nglobal.set('environmentWaterTemperature', temp0);\nglobal.set('starboardExhaustTemperature', temp1);\nglobal.set('portExhaustTemperature', temp2);\n\nreturn;","outputs":1,"noerr":0,"x":200,"y":140,"wires":[[]]},{"id":"9073df91.4aac7","type":"inject","z":"3357184f.a3272","name":"Get temp every 15 sec","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":80,"wires":[["842b7786.fd22f8"]]},{"id":"842b7786.fd22f8","type":"http request","z":"3357184f.a3272","name":"Shelly POST request /status","method":"POST","ret":"obj","paytoqs":false,"url":"http://shelly1-E098068D14A1/status","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":80,"wires":[["50006928.6a0168","4d3ddc2d.48b9d4"]]},{"id":"393e1653.01f22a","type":"debug","z":"3357184f.a3272","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":130,"y":180,"wires":[]},{"id":"69858265.281e14","type":"comment","z":"3357184f.a3272","name":"Shelly 1 sensors","info":"","x":120,"y":40,"wires":[]},{"id":"c6d9e61c.4181c","type":"comment","z":"3357184f.a3272","name":"Alarm, exhaust","info":"","x":100,"y":346,"wires":[]},{"id":"e14c1c59.5e803","type":"function","z":"3357184f.a3272","name":"Global.get temp => set SK path + value","func":"// Temp0 => water, temp 1 => Exthaust SB, temp 2 => Exhaust Port\n\nmsg.payload = global.get('environmentWaterTemperature');\nmsg.topic = \"environment.water.temperature\";\nnode.send(msg);\n\n// Water temp is also sent as engine room temp, showing on GMI20\nmsg.topic = \"environment.inside.engineRoom.temperature\";\nnode.send(msg);\n\nmsg.payload = global.get('starboardExhaustTemperature');\nmsg.topic = \"propulsion.starboard.exhaustTemperature\";\nnode.send(msg);\n\nmsg.payload = global.get('portExhaustTemperature');\nmsg.topic = \"propulsion.port.exhaustTemperature\";\nnode.send(msg);\n\nnode.done();\n\nreturn;","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["437a850b.a5e32c","393e1653.01f22a"]]},{"id":"7aceb2a9.5ea36c","type":"inject","z":"3357184f.a3272","name":"Send temps, every 3 seconds","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":240,"wires":[["e14c1c59.5e803"]]},{"id":"4d3ddc2d.48b9d4","type":"debug","z":"3357184f.a3272","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":80,"wires":[]}]